.featured {
  position: relative;
}
.featured-heading {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  padding: 40px 0;
}
.featured-list {
  margin: 0 auto;
  width: 80%;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  list-style: none;
}
.featured-item {
  display: flex;
  margin: 0 auto;
  flex: 0 0 33.333333%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.item-img {
  position: relative;
  align-content: center;
  margin: auto 0;
  width: 70%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.item-img img {
  margin: auto 0;
  width: 100%;
  transform: scale(1.5);
}
.item-content {
  padding: 10px 0;
}
.item-heading {
  font-size: 24px;
  font-weight: 400;
}
.price {
  font-weight: 300;
  font-size: 18px;
}

/* responsive */
@media screen and (max-width: 600px) {
  .featured-item {
    flex: 0 50%;
  }
}
